/* imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

/* Meyers Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* ********************************************** */

/* General */
html {
	background: url(./components/images/backgrounds/Arabian-Courtyard1.png) no-repeat center center fixed;
	background-size: cover;
}

body{
	height: 100%;
}

#root {
	height: 100%;
}

button {
	background-color: rgba(49, 8, 8, 0);
	border: 0;
	font-family: 'Fira Sans';
	font-style: italic;
	height: 2vh;
	color:rgb(225, 225, 225);
}

a {
	transition: color 250ms;
}

a:hover {
	color: white;
}

/* MenuBar */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 25px;
	background-image:
		linear-gradient(to bottom, rgba(5, 5, 5, 1), rgba(49, 8, 8, 1));
	background-size: cover;
	color:rgb(225, 225, 225);
	font-family: 'Fira Sans';
	font-style: italic;
	height: 2vh;
}

.function-link {
	display: inline;
	margin: 0 10px;
}

.function-link a {
	text-decoration: none;
}

/* TextBox */
.text-container {
	height: 30vh;
	width: 80vw;
	margin: 0 auto;
}

#choice-box {
  display: flex;
  justify-content: center;
  visibility: hidden;
  animation-name: dialouge-fade-in;
  animation-duration: 500ms;
}

.button-text-container {
	text-align: center;
	color: white;
	margin: 0 50px;
}

.dialouge-button-agree {
	border: 0;
	background: rgba(49, 8, 8, 0);
	color: white;
	font-family: 'Fira Sans', sans-serif;
	font-size: 25px;
	background-image: url(./components/images/backgrounds/dialouge-box-agree.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 100px;
	width: 250px;
}

.dialouge-button-disagree {
	border: 0;
	background: rgba(49, 8, 8, 0);
	color: white;
	font-family: 'Fira Sans', sans-serif;
	font-size: 25px;
	background-image: url(./components/images/backgrounds/dialouge-box-disagree.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 100px;
	width: 250px;
}

@keyframes dialouge-fade-in {
	0% {opacity: 0%;}
	100% {opacity: 100%;}
}

@keyframes dialouge-fade-out {
	0% {opacity: 100%;}
	100% {opacity: 0%;}
}

.textbox-main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 20vh;
	border: 3px inset rgb(240, 193, 107);
	color: white;
	font-family:"Lato", sans-serif;
	font-weight: 700;
	font-size: 25px;
	background-image:
		linear-gradient(to top, rgba(5, 5, 5, 0.75), rgba(5, 5, 5, 0.5)),
		url(./components/images/backgrounds/tear-drop-blue.svg);
	border-radius: 10px;
	padding: 10px 75px;
}

.textbox-main h3 {
	margin-bottom: 10px;
	text-align: center;
	text-decoration: underline;
}

.char-name {
	animation-name: fadeIn;
	animation-duration: 250ms;
}

.dialouge {
	font-size: 20px;
	margin-top: 15px;
	/* animation: .5s dialouge-slide-up; */
}

/* @keyframes dialouge-slide-up {
	from {
		margin-top: 6%;
		height: 300%;
		opacity: 0;
	}
	to {
		margin-top: 3.75%;
		height: 100%;
		opacity: 1;
	}
} */

.button-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Stage */
#stage {
	height: 65vh;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

/* Character */
.character-image {
	height: 50vh;
	transform: (-50%, -50%);
	filter: brightness(100%);
	animation-name: fadeIn;
	animation-duration: 250ms;
	
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes brightenSpeaker {
	0% {filter: brightness(80%);}
	100% {filter: brightness(100%);}
}

@keyframes darkenSpeaker {
	0% {filter: brightness(100%);}
	100% {filter: brightness(80%);}
}

.is-active {
	filter: brightness(100%);
	animation-name: brightenSpeaker;
	animation-duration: 250ms;
}

.is-inactive {
	filter: brightness(80%);
	animation-name: darkenSpeaker;
	animation-duration: 250ms;
}

#Vadim {
	height: 60vh;
}

/* MenuBar */
.right-box button {
	transition: color 250ms;
}

.right-box button:hover {
	color: white;
}

#credits-pop-up {
	display: none;
	position: absolute;
	border: 2px inset rgb(240, 193, 107);
	border-radius: 25px;
	background-image: 
		linear-gradient(to bottom, rgba(5, 5, 5, 0.85), rgba(5, 5, 5, 0.75)),
		url(./components/images/backgrounds/bandana.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px 20px 10px 20px;
	z-index: 1;
	left: 50%;
	top: 25%;
	margin-left: -25%;
	width: 50%;
	height: 40%;
}

#credits-pop-up button {
	float: right;
	font-style: normal;
	transition: color 250ms;
}

#credits-pop-up button:hover {
 color: rgb(255, 255, 255)
}

#credits-pop-up table {
	margin: 0 auto;
}

#credits-pop-up table tr th{
	font-size: 20px;
}

#credits-pop-up table tr td{
	padding: 10px 15px 10px 0;
}

#credits-pop-up table tr a{
	text-decoration: none;
	color:rgb(225, 225, 225);
	transition: text-decoration 250ms;
}

#credits-pop-up table tr a:hover{
	text-decoration: underline;
}

.and-you {
	text-align: center;
	font-style: normal;
	font-size: small;
	margin: 25px;
}

#credits-you {
	font-size: xx-large;
	font-style: italic;
}

.credits-end {
	font-style: normal;
	margin: 10px 5px;
}

.dropdown-menu, .dropdown-content {
	display: none;
}

/* Media Queries */
@media only screen and (max-width: 640px) {
	.nav {
		background-image: unset;
		height: 20px;
		display: flex;
		justify-content: flex-end;
		margin: 10px;
		padding: 0;
	}

	.right-box, .left-box {
		display: none;
	}

	.dropdown-menu {
		display: block;
		background-image: url(./components/images/backgrounds/burger-icon.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		height: 15px;
		width: 15px;
	}

	.nav:hover .dropdown-content, .nav:active .dropdown-content {
		display: block;
	}

	/* textbox-main has the font styles so text-container will be overridden by those */

	/* stage */

	.text-container {
		position: fixed;
		bottom: 0%;
		width: 100%;
		height: 24.5%;
	}

	.textbox-main, .dialouge {
		font-size: unset;
		font-weight: 400;
		margin: 0;
	}

	.textbox-main {
		padding: 5px;
		overflow: scroll;
	}

	.character-image {
		height: 70vh;
	}

	#Vadim {
		height: 75vh;
	}

	.dialouge-button-agree, .dialouge-button-disagree {
		width: 150px;
		background-size: contain;
	}

	#credits-pop-up {
		left: 50%;
		top: 10%;
		margin-left: -38%;
		width: 70%;
		height: 50%;
		overflow: scroll;
	}
	
	#credits-pop-up table tr th{
		font-size: 15px;
	}
	
	#credits-pop-up table tr td{
		padding: 5px 10px 5px 0;
		font-size: 12px;
	}
	
	#credits-pop-up table tr a{
		text-decoration: none;
		color:rgb(225, 225, 225);
		transition: text-decoration 250ms;
	}
}